APP_ENV=production
DB_AUTO_INIT=0
SECRET_KEY=jvkW5hoq50OZTJQ_vEmiN8q1W7Hv6f7goawSMrGH16MhsXj9GvmyXQqmfa38mkw4
JWT_SECRET_KEY=IVcPTkkPAAPFPwaylGX3RKDYtgHLCZkTWih-C45EpQdvYMcISFEsJf0x6dFrbeGu
REDIS_URL=redis://redis:6379/0
DATABASE_URL=postgresql+psycopg://app_user:strongpass@db:5432/aifitguard
SITE_ADDRESS=4uuu.cc.cd
FRONTEND_BASE_URL=https://4uuu.cc.cd
CORS_ORIGINS=https://4uuu.cc.cd
ADMIN_EMAIL=hello@aifitguard.com
