http://{$ORIGIN_IP} {
  handle /.well-known/acme-challenge/* {
    root * /var/www/certbot
    file_server
  }

  redir https://{$ORIGIN_IP}{uri} permanent
}

https://{$ORIGIN_IP} {
  encode gzip zstd
  tls /etc/letsencrypt/live/{$ORIGIN_IP}/fullchain.pem /etc/letsencrypt/live/{$ORIGIN_IP}/privkey.pem
  reverse_proxy web:80
}
