.DS_Store
node_modules
.next
out
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.tmp
uploads

.env
.env.local
.env.*.local

*.sqlite
*.sqlite-journal
dev.db
*.tsbuildinfo

playwright-report
test-results

.trae
.pw_audit
